Step 2 - Database Engineering
    Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.
    Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your Database Engineering work.
    Use Pandas to read your cleaned measurements and stations CSV data.
    Use the engine and connection string to create a database called hawaii.sqlite.
    Use declarative_base and create ORM classes for each table.
You will need a class for Measurement and for Station.
    Make sure to define your primary keys.
Once you have your ORM classes defined, create the tables in the database using create_all.

In [1]:
import pandas as pd
import datetime

from sqlalchemy import Column, Integer, String, Float

import pymysql
pymysql.install_as_MySQLdb()

In [2]:
parse_dates=['date']

In [3]:
csv_path1="Resources/data/clean_hawaii_measurements.csv"
chm=pd.read_csv(csv_path1,encoding="utf-8",parse_dates=parse_dates)

In [21]:
chm.head(100)

    Unnamed: 0      station       date  prcp  tobs
0            0  USC00519397 2010-01-01  0.08    65
1            1  USC00519397 2010-01-02  0.00    63
2            2  USC00519397 2010-01-03  0.00    74
3            3  USC00519397 2010-01-04  0.00    76
4            4  USC00519397 2010-01-06  0.00    73
5            5  USC00519397 2010-01-07  0.06    70
6            6  USC00519397 2010-01-08  0.00    64
7            7  USC00519397 2010-01-09  0.00    68
8            8  USC00519397 2010-01-10  0.00    73
9            9  USC00519397 2010-01-11  0.01    64
10          10  USC00519397 2010-01-12  0.00    61
11          11  USC00519397 2010-01-14  0.00    66
12          12  USC00519397 2010-01-15  0.00    65
13          13  USC00519397 2010-01-16  0.00    68
14          14  USC00519397 2010-01-17  0.00    64
15          15  USC00519397 2010-01-18  0.00    72
16          16  USC00519397 2010-01-19  0.00    66
17          17  USC00519397 2010-01-20  0.00    66
18          18  USC00519397 2010-01-21  0.00    69
19          19  USC00519397 2010-01-22  0.00    67
20          20  USC00519397 2010-01-23  0.00    67
21          21  USC00519397 2010-01-24  0.01    71
22          22  USC00519397 2010-01-25  0.00    67
23          23  USC00519397 2010-01-26  0.04    76
24          24  USC00519397 2010-01-27  0.12    68
25          25  USC00519397 2010-01-28  0.00    72
26          26  USC00519397 2010-01-30  0.00    70
27          27  USC00519397 2010-01-31  0.03    67
28          28  USC00519397 2010-02-01  0.01    66
29          29  USC00519397 2010-02-03  0.00    67
..         ...          ...        ...   ...   ...
70          70  USC00519397 2010-03-23  0.00    68
71          71  USC00519397 2010-03-24  0.00    74
72          72  USC00519397 2010-03-26  0.00    72
73          73  USC00519397 2010-03-27  0.00    72
74          74  USC00519397 2010-03-28  0.00    73
75          75  USC00519397 2010-03-29  0.00    74
76          76  USC00519397 2010-03-30  0.00    73
77          77  USC00519397 2010-03-31  0.00    73
78          78  USC00519397 2010-04-01  0.00    74
79          79  USC00519397 2010-04-02  0.01    74
80          80  USC00519397 2010-04-03  0.17    74
81          81  USC00519397 2010-04-04  0.15    71
82          82  USC00519397 2010-04-05  0.27    72
83          83  USC00519397 2010-04-06  0.01    75
84          84  USC00519397 2010-04-08  0.00    75
85          85  USC00519397 2010-04-09  0.01    75
86          86  USC00519397 2010-04-10  0.00    75
87          87  USC00519397 2010-04-11  0.01    73
88          88  USC00519397 2010-04-12  0.01    73
89          89  USC00519397 2010-04-13  0.00    71
90          90  USC00519397 2010-04-15  0.00    71
91          91  USC00519397 2010-04-16  0.01    68
92          92  USC00519397 2010-04-17  0.00    70
93          93  USC00519397 2010-04-18  0.00    71
94          94  USC00519397 2010-04-19  0.00    74
95          95  USC00519397 2010-04-20  0.04    71
96          96  USC00519397 2010-04-21  0.01    75
97          97  USC00519397 2010-04-22  0.00    76
98          98  USC00519397 2010-04-23  0.02    75
99          99  USC00519397 2010-04-24  0.00    75

[100 rows x 5 columns]

In [5]:
chm.dtypes

Unnamed: 0             int64
station               object
date          datetime64[ns]
prcp                 float64
tobs                   int64
dtype: object

In [6]:
csv_path2="Resources/data/clean_hawaii_stations.csv"
chs=pd.read_csv(csv_path2,encoding="utf-8")

In [7]:
chs.head()

,Unnamed: 0,station,name,latitude,longitude,elevation,location
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168)
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0,POINT(21.5213 -157.8374)
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9,POINT(21.3934 -157.9751)
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6,POINT(21.4992 -158.0111)

In [8]:
from sqlalchemy.ext.declarative import declarative_base
Base=declarative_base()

In [9]:
class Measurement(Base):
    __tablename__ = "measurement"
    id=Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Integer)
    prcp = Column(Float)
    tobs = Column(Integer)

In [10]:
class Station(Base):
    __tablename__="station"
    id=Column(Integer,primary_key=True)
    station=Column(String(255))
    name=Column(String(255))
    latitude=Column(Float)
    longitude=Column(Float)
    elevation=Column(Float)
    location=Column(String(255))

In [11]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

In [12]:
engine = create_engine("sqlite:///hawaii.sqlite")

Base.metadata.create_all(engine)
session=Session(bind=engine)

In [13]:
chm.to_sql('measurement', engine,if_exists='replace')

In [14]:
chs.to_sql('station', engine,if_exists='replace')

In [15]:
session.commit()

In [16]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.orm import Session

In [17]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [18]:
Base=automap_base()

In [19]:
Base.prepare(engine, reflect=True)

In [20]:
Base.classes.keys()

[]